<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro Producto Vendedor Externo</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <br>
    <div>
        <p>Resumen producto registrado:</p>
    </div>
    <br>
    <table cellpadding="5px">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>TIPO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PESO</b></th>
        </tr>
        <tr>
            <td>{{ product.nom }}</td>
            <td>{{ product.marca }}</td>
            <td>{{ product.model }}</td>
            <td>{{ product.preu }}</td>
            <td>{{ product.peso }}</td>
        </tr>
    </table>
    <br>
    <a href="{{url_for('browser_externalseller')}}">Registrar otro product</a>
</body>
</html>