<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro Producto Vendedor Externo</title>
</head>
<body>
<h1>Registro de producto</h1>
<div>
    <a href="{{url_for('browser_externalseller')}}">Volver al Inicio</a>
</div>

<div>
    <p>{{response}}</p>
</div>
<br>
<div>
    <p>Introducir información para el registro del producto:</p>
</div>
<br>
<form method="POST">
    <input type="text" name="name" placeholder="Nombre"/><br>
    <input type="text" name="brand" placeholder="Marca"/><br>
    <input type="text" name="tipo" placeholder="Tipo"/><br>
    <input type="number" name="price" step="0.01" min="0.0" placeholder="Precio"/><br>
    <input type="number" name="weigth" step="0.5" min="0.0" placeholder="Peso"/><br>
    <input type="submit" value="registrar" name="submit">
</form>

</body>
</html>