<!DOCTYPE html>
<html lang="en">
<head>
    <title>Devolver Producto</title>
</head>
<body>

    {% if returnCompleted %}
        <h2>Producto devuelto exitosamente!</h2>
    {% else %}
        <h2>Selecciona el producto a devolver.</h2>
    {% endif %}

    <div>
        <a href="{{url_for('browser_uhome')}}"> Volver Menu</a>
    </div>
    <br>

    {% if not returnCompleted %}
        <label>Motivo de devolución</label>
        <select name="reason">
            <option>Defectuoso</option>
            <option>Erróneo</option>
            <option>No satisfactorio</option>
        </select>
    {% endif %}

    <form method="POST">
        <table>
            {% if returnCompleted %}
                Producto devuelto:
            {% else %}
                Productos comprados:
            {% endif %}

            <tr>
                <th id="columna"><strong>NOMBRE</strong></th>
                <th id="columna"><strong>MARCA</strong></th>
                <th id="columna"><strong>TIPO</strong></th>
                <th id="columna"><strong>PRECIO</strong></th>
                <th id="columna"><strong>PESO</strong></th>
            </tr>
            <tr>
            {% for prod in products %}
                <tr>
                    <td>{{ prod.nombre }}</td>
                    <td>{{ prod.marca }}</td>
                    <td>{{ prod.tipo }}</td>
                    <td>{{ prod.precio }} €</td>
                    <td>{{ prod.peso }} g</td>
                    {% if not saleCompleted %}
                        <td><button type="submit" name="submit" value="{{ products.index(prod) }}">Devolver producto</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </form>

</body>
</html>