<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buscar Productos</title>
</head>
<body>
    <h1>Buscar Productos</h1>

    <div>
        <a href="{{url_for('browser_uhome')}}"> Volver Menu</a>
    </div>
    <br>

    <form method="POST">
        <input type="text" name="name" placeholder="Nombre"><br>
        <input type="text" name="brand" placeholder="Marca"><br>
        <input type="number" name="price_min" min="0" step="0.01" placeholder="Precio minimo"><br>
        <input type="number" name="price_max" min="0" step="0.01" placeholder="Precio maximo"><br>
        <input type="text" name="type" placeholder="Tipo"><br>
        <input type="text" name="externalSeller" placeholder="Vendedor externo"><br>
        <button type="submit" name="submit" value="search">Buscar</button>
    </form>
    <br>
    <!--Mostar lista de productos si productos no esta vacia-->
    {% if products %}
        <form method="POST">
            <table>
                <caption>Productos encontrados: </caption>
                <tr>
                    <th id="columna"><strong>NOMBRE</strong></th>
                    <th id="columna"><strong>MARCA</strong></th>
                    <th id="columna"><strong>TIPO</strong></th>
                    <th id="columna"><strong>PRECIO</strong></th>
                    <th id="columna"><strong>PESO</strong></th>
                </tr>
                {% for prod in products %}
                <tr>
                    <td>{{ prod.nombre }}</td>
                    <td>{{ prod.marca }}</td>
                    <td>{{ prod.tipo }}</td>
                    <td>{{ prod.precio }} $</td>
                    <td>{{ prod.peso }} gr</td>
                    <td><input type="checkbox" name="checkbox" value="{{ products.index(prod) }}"></td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" name="submit" value="buy">Comprar</button>
        </form>
    {% endif %}
     

</body>
</html>